.body
{
    margin : 25rem;
    text-align: center;
    
}

.text
{
    text-shadow: 40px;
    color : rgb(0, 0, 0);
    font-size: 50px;
}

.text2
{
    font-size: 30px;
}

.Button
{
    font-size: 40px;
    width: 50px;
    color: rgb(0, 17, 255);
    border-radius: 30px;
}

.author
{   margin: 10rem;
    text-align: right;
}